:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(238, 77, 45);

    --border-width: 30px;
    --border-height: 20px;
    --arrow-space: 30px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.disappear {
    display: none !important;
}

.open-flex {
    display: flex !important;
}

.grow-animated {
    animation: grow ease-out 0.3s;
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body {
    z-index: 1;
    position: relative;
    margin: auto;
    border-radius: 6px;
}

/* Button */

.btn {
    min-width: 100px;
    height: 40px;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--primary {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn.social-btn {
    color: var(--white-color);
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes enlarge {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);
        opacity: 1;
    }
}